@page "/"

@using Microsoft.AspNetCore.Identity
@using SchowekWeb.Data
@using SchowekWeb.Models
@inject ApplicationDbContext DbContext
@inject IDataAccess _data

<AuthorizeView>
    <Authorized>
        <h3>Dodaj nowy schowek</h3>
        <button class="btn btn-primary">Dodaj</button>

        @if (Categories != null)
        {
            <h4>Lista schowków: </h4>
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">#Id Schowka</th>
                        <th scope="col">Użytkownik</th>
                        <th scope="col">Nazwa kategorii</th>
                        <th scope="col">Ikona</th>
                        <th scope="col">Utworzono</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var category in Categories)
                    {
                        <tr>
                            <th>@category.Id</th>
                            <td>@category.CategoryName</td>
                            <td>@category.Icon</td>
                            <td>@category.OnCreated</td>
                            <td>@category.AspNetUsers.Id</td>
                        </tr>
                    }
                </tbody>
            </table>
        } else
        {
            <h4 class="text-danger">Brak schowków.</h4>
        }



    </Authorized>
    <NotAuthorized>
        <h1>Witaj w Schowku</h1>
        <p>
            Aby zacząć korzystać ze schowka zaloguj się lub zarejestruj konto, jeśli jeszcze nie masz.
        </p>
    </NotAuthorized>
</AuthorizeView>

@code {

    List<Category> Categories;

    protected override async Task OnInitializedAsync()
    {
        Categories = await _data.GetCategories();
    }

}
