@page "/Users"

@using System.Security.Claims
@using Microsoft.AspNetCore.Identity
@using SchowekWeb.Data
@inject UserManager<AspNetUsers> userManager
@inject ApplicationDbContext DbContext

<AuthorizeView>
    <h3>Użytkownicy</h3>

    <h4>Aktualnie zalogowany użytkownik:</h4>
    <p>Id: @context.User.FindFirstValue(ClaimTypes.NameIdentifier)</p>

    <table class="table">
        <thead>
            <tr>
                <th scope="col">#Id</th>
                <th scope="col">Username</th>
                <th scope="col">Email</th>
                <th scope="col">Imię</th>
                <th scope="col">Nazwisko</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var user in UsersList)
            {
                <tr>
                    <td>@user.Id</td>
                    <td>@user.UserName</td>
                    <td>@user.Email</td>
                    <td>@user.FirstName</td>
                    <td>@user.LastName</td>
                </tr>
            }
        </tbody>
    </table>
</AuthorizeView>

@code {
    //Users List Property
    private List<AspNetUsers> UsersList { get; set; }

    [Parameter]
    public string UserId { get; set; }

    protected override void OnInitialized()
    {
        UsersList = DbContext.Users.ToList<AspNetUsers>();

    }
}
