<CascadingAuthenticationState>
    <Router AppAssembly="@typeof(Program).Assembly" PreferExactMatches="@true">
        <Found Context="routeData">
            <AuthorizeRouteView RouteData="@routeData" DefaultLayout="@typeof(Layout)">

            </AuthorizeRouteView>
        </Found>
        <NotFound>
            <LayoutView Layout="@typeof(Layout)">
                <p>Niestety, pod tym adresem nic nie ma.</p>
            </LayoutView>
        </NotFound>
    </Router>
</CascadingAuthenticationState>
